@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
#widget
{
  border: 1px #000 solid;
  width:300px;
  background: #20262e;
  padding: 10px;

  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  position: relative;
}

#widget h1
{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#currentMode{
  text-transform: uppercase;
}

#currentProgr
{
  font-size:1.4em;
  position: absolute;
  bottom: 2;
  right:35;
}
#currentElo
{
  font-size:2.0em;
}
.positive 
{
  color: green;
}

.negative
{
  color: red;
}

.equal
{
  color: yellow;
}

#icon
{
    width:30px;
    height:30px;
   
    position: absolute;
    bottom: 2; 
    right: 2;
}

.iconEqual
{
    background:url(equal.png);
}

.iconPositive
{
    background:url(arrow_up.png);
}

.iconNegative
{
    background:url(arrow_down.png);
}